<div *ngFor="let driver of drivers.data">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mb-1">
                    <div class="card-body" [routerLink]="['/drivers', driver._id]" style="cursor: pointer">
                        {{driver.forename}} {{driver.surname}} {{driver.nationality}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>
        <li class="page-item" *ngFor="let p of pages"><a class="page-link" (click)="gotopage(p)">{{p}}</a>
        </li>
        <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
    </ul>
</nav>
