<div *ngFor="let driver of webService.drivers | async">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card mb-1">
          <div class="card-body" [routerLink]="['/drivers', driver._id]" style="cursor: pointer">
            {{driver.forename}} {{driver.surname}} {{driver.nationality}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <button class="btn-primary" (click)='previousPage()'>
      Previous
    </button>
  </div>
  <div class="col-sm-6 text-right">
    <button class="btn-primary" (click)='nextPage()'>
      Next
    </button>
  </div>
</div>
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>
    <li class="page-item"><a class="page-link" (click)="page1()">1</a></li>
    <li class="page-item"><a class="page-link" (click)="page2()">2</a></li>
    <li class="page-item"><a class="page-link" (click)="page3()">3</a></li>
    <li class="page-item"><a class="page-link" (click)="page4()">4</a></li>
    <li class="page-item"><a class="page-link" (click)="page5()">5</a></li>
    <li class="page-item"><a class="page-link" (click)="page6()">6</a></li>
    <li class="page-item"><a class="page-link" (click)="page7()">7</a></li>
    <li class="page-item"><a class="page-link" (click)="page8()">8</a></li>
    <li class="page-item"><a class="page-link" (click)="page9()">9</a></li>
    <li class="page-item"><a class="page-link" (click)="page10()">10</a></li>
    <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
  </ul>
</nav>
