<div *ngFor="let driver of webService.drivers | async">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="card mb-1">
          <div class="card-body" [routerLink]="['/drivers', driver._id]" style="cursor: pointer">
            {{driver.forename}} {{driver.surname}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <button class="btn-primary" (click)='previousPage()'>
      Previous
    </button>
  </div>
  <div class="col-sm-6 text-right">
    <button class="btn-primary" (click)='nextPage()'>
      Next
    </button>
  </div>
</div>
