<div class="container" *ngIf="driver !== null">
    <hr>
    <div class="row">
        <div class="col-md-12">
            <div class="no-padding lib-item">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src={{driver.image}}>
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                <h1>{{driver.forename}} {{driver.surname}}</h1>
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-header-seperator">
                                {{driver.code}} | {{driver.number}} | {{driver.driverRef}}

                                <div class="lib-header-seperator"></div>
                            </div>
                            <button type="button" class="btn btn-outline-success" *ngIf="loggedin"
                                    (click)="webService.addFavourite()">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <path
                                        d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/>
                                </svg>
                                Add driver to favourites
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    F1 Driver Wins
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <div class="list-group-item" *ngFor="let win of wins">
                            {{win.year}} {{win.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    Reviews
                </div>
                <div class="card-body" *ngFor="let review of webService.userreviews | async">
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="lib-row lib-header">
                                {{review.name}}
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="lib-row lib-desc">
                                {{review.review}}
                            </div>
                            <button type="button" *ngIf="loggedin" class="btn btn-circle btn-lg float-right"
                                    (click)="webService.deleteReview(driver._id, review._id)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                                </svg>
                            </button>
                            <button type="button" class="btn-circle" (click)="showEdit = !showEdit; editreviewid = review._id">
                                Edit
                            </button>
                        </div>
                        <div class="list-group-item">
                            <div class="lib-row lib-header-seperator">
                                {{review.rating}} stars
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>
                Review this driver
            </h2>
            <form [formGroup]="reviewForm" *ngIf="loggedin" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Reviewers Name</label>
                    <input type="text" id="name" name="name" class="form-control" formControlName="name"
                           [ngClass]="{'error':isInvalid('name')}">
                </div>
                <div class="form-group">
                    <label for="review">Review of Driver</label>
                    <textarea id="review" name="review" class="form-control" formControlName="review"
                              [ngClass]="{'error':isInvalid('review')}">
                    </textarea>
                </div>
                <div class="form-group">
                    <label for="rating">Driver rating</label>
                    <select id="rating" name="rating" class="form-control" formControlName="rating">
                        <option value="1">1 star</option>
                        <option value="2">2 stars</option>
                        <option value="3">3 stars</option>
                        <option value="4">4 stars</option>
                        <option value="5">5 stars</option>
                    </select>
                </div>
                <span *ngIf="isIncomplete()">All fields must be filled</span>
                <button *ngIf="!isIncomplete()" type="submit" class="btn btn-primary">
                    Submit Review
                </button>
            </form>
        </div>
    </div>
</div>
<div *ngIf="showEdit">
    <h2>Edit Review</h2>
    <form [formGroup]="editReview" *ngIf="loggedin" (ngSubmit)="onEdit()" >
        <div class="form-group">
            <label for="name">Reviewers Name</label>
            <input type="text" id="editname" name="editname" class="form-control" formControlName="editname"
                   [ngClass]="{'error':isInvalid('name')}">
        </div>
        <div class="form-group">
            <label for="review">Review of Driver</label>
            <textarea id="editreview" name="editreview" class="form-control" formControlName="editreview"
                      [ngClass]="{'error':isInvalid('review')}">
                    </textarea>
        </div>
        <div class="form-group">
            <label for="rating">Driver rating</label>
            <select id="editrating" name="editrating" class="form-control" formControlName="editrating">
                <option value="1">1 star</option>
                <option value="2">2 stars</option>
                <option value="3">3 stars</option>
                <option value="4">4 stars</option>
                <option value="5">5 stars</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            Submit Review
        </button>
    </form>
</div>

