<div class="container" *ngIf="driver !== null">
  <hr>
  <div class="row row-margin-bottom">
    <div class="col-md-5 no-padding lib-item" data-category="view">
      <div class="lib-panel">
        <div class="row box-shadow">
          <div class="col-md-6">
            <img class="lib-img-show" src={{driver.image}}>
          </div>
          <div class="col-md-6">
            <div class="lib-row lib-header">
              {{driver.forename}} {{driver.surname}}
              <div class="lib-header-seperator"></div>
            </div>
            <div class="lib-row lib-header-seperator">
              {{driver.code}} | {{driver.number}} | {{driver.driverRef}}
              <div class="lib-header-seperator"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngFor="let races of webService.races | async">
  <div class="row">
    <div class="col-sm-12">
      <div class="card bg-light mb-3">
        {{races.name}} {{races.year}}
      </div>
    </div>
  </div>
</div>
