<div class="container">
    <div class="row">
        <div class="col-md-6 details">
            <blockquote>
                <h4>{{user.name}}</h4>
            </blockquote>
            <p>
                {{user.username}}<br>
                {{user.email}}
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    {{user.name}}'s Favourite F1 Drivers
                </div>
                <div class="card-body">
                    <div class="list-group">
                        <div class="list-group-item" *ngFor="let favD of webService.favdriver | async">
                            <div class="float-left" [routerLink]="['/drivers', favD._id]" style="cursor: pointer">
                                {{favD.name}} {{favD.code}} {{favD.number}} | {{favD.nationality}}
                            </div>
                            <button type="button" class="btn btn-circle btn-lg float-right" (click)="webService.deleteFavourites(favD.fav_id)">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M32 464a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128H32zm272-256a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zm-96 0a16 16 0 0 1 32 0v224a16 16 0 0 1-32 0zM432 32H312l-9.4-18.7A24 24 0 0 0 281.1 0H166.8a23.72 23.72 0 0 0-21.4 13.3L136 32H16A16 16 0 0 0 0 48v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16V48a16 16 0 0 0-16-16z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
